<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Discover restaurants near you" />
		<meta name="theme-color" content="#ffffff" />
		<title>Yourtaste.</title>
		<link rel="shortcut icon" type="image/png" href="/images/icon.png" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Material+Icons&amp;display=swap"
			media="print"
			onload="this.media='all'"
			crossorigin
		/>
	</head>
	<body>
		<a href="#search-restaurant" class="skip-link">Skip to content</a>
		<header class="header">
			<nav class="navbar">
				<div class="container">
					<a href="#" class="navbar__logo">Yourtaste. </a>
					<button class="btn hamburger" aria-label="navigation-menu">
						<span class="bar"></span>
						<span class="bar"></span>
						<span class="bar"></span>
					</button>
					<ul class="navbar__menu">
						<li class="navbar__menu-item">
							<a href="#" class="navbar__menu-link">Home</a>
						</li>
						<li class="navbar__menu-item">
							<a href="#/favorite" class="navbar__menu-link">Favorite</a>
						</li>
						<li class="navbar__menu-item">
							<a
								href="https://www.linkedin.com/in/sitimasyruhatin/"
								target="_blank"
								class="navbar__menu-link"
								rel="noopener"
								>About Us</a
							>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<main id="main-content"></main>
		<footer class="footer">
			© 2021 Yourtaste. By
			<a
				href="https://www.linkedin.com/in/sitimasyruhatin/"
				target="__blank"
				rel="noopener"
				>Siti Masyruhatin</a
			>
		</footer>
	</body>
</html>
